# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
/description/*
/entities/*
/srt/*
/srt_test/*
/video/*
/vtt/*
/wordCloud/*

*.zip

public
